<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>findAccount</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/js/login_script.js}"></script>
</head>
<body>
<!--header-->
<div th:replace="main/header::headerFragment"></div>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">Login</p>
      <p id="top-subtitle">#로그인</p>
    </div>
  </div>
</section>
<section class="content-1"><!-- find-class -->
  <p class="intro">법인 회원</p>
  <input id="findId" type="radio" name="findAccount" checked>
  <label for="findId" class="findId-tab">아이디 찾기</label>
  <input id="findPwd" type="radio" name="findAccount">
  <label for="findPwd" class="findPwd-tab">비밀번호 찾기</label>

  <input type="hidden" name="type2" th:value="company">

  <form id="findIdForm" method="post">
    <ul>
      <li class="find-li">
        <label>이메일</label>
        <span class="messageStyle2" id="emailAuth"></span>
      </li>
      <li>
        <input type="text" name="email" placeholder="이메일">
      </li>
      <li>
        <button type="button" class="button-gradient" onclick="sendIdToEmail()">이메일 전송</button>
      </li>
      <li>
        <a th:href = "@{/login(selectedTab=company-login)}" class="toLogin">return to login</a>
      </li>
    </ul>
  </form>

  <form id="findPwdForm" method="post">
    <ul>
      <li class="find-li">
        <label>아이디</label>
        <span class="messageStyle2" id="emailAuth2"></span>
      </li>
      <li>
        <input type="text" name="companyId" id="id" placeholder="아이디">
      </li>
      <li class="find-li">
        <label>이메일</label>
      </li>
      <li>
        <input type="text" name="email" id="email" placeholder="이메일">
      </li>
      <li>
        <button type="button" class="button-gradient" onclick="sendPassToEmail()">이메일 전송</button>
      </li>
      <li>
        <a th:href = "@{/login(selectedTab=company-login)}" class="toLogin">return to login</a>
      </li>
    </ul>
  </form>
</section>

<div th:replace="main/footer::footerFragment"></div>
</body>
</html>